{% extends "base.html.twig" %}

{% block title %}PreisStalker - Du wirst benachrichtigt! (hoffentlich){% endblock %}

{% block body %}
    <div class="container">
        <div class="card my-4">
            <div class="card-header text-white bg-success">
                ✓ Benachrichtigung erstellt
            </div>
            <div class="card-body">
                <p>Wir benachrichtigen dich, wenn <strong>"{{ notification.product.title }}"</strong> unter <strong>
                        {{ notification.price }}€</strong> sinkt.</p>
                <p>Du erhältst dann ein E-Mail an <strong>{{ notification.email }}</strong>. Das wars schon!</p>
            </div>
        </div>

    </div>
{% endblock %}
