<h1>PreisStalker Benachrichtigung</h1>
<p>Du wirst benachrichtigt, weil <strong>{{ notification.product.title }}</strong> jetzt bei {{ notification.product.price }}€ liegt.</p>
<p>Du wolltest benachrichtigt werden, sobald dieses Produkt weniger als {{ notification.price }}€ kostet.</p>
<p>
    <a href="{{ notification.product.link }}">Zum Produkt</a>
</p>