<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}PreisStalker{% endblock %}</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <meta name="description" content="{% block description %}Werde benachrichtigt wenn der Preis sinkt!{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        .fa-chart-bar {
            color: green;
        }
    </style>
</head>
<body>

<header role="banner">
    {% include "partials/header.html.twig" %}
</header>

<main role="main">
    {% block body %}{% endblock %}
</main>

<footer role="contentinfo">
    {% include "partials/footer.html.twig" %}
</footer>
</body>
</html>